<style>

	<meta charset="utf-8">


	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: sans-serif;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.clearfix {
		overflow: auto;
	}

	html {
		font-family: sans-serif;
	}

	body{
			
			}

	/*type*/
		html {
			font-size: 12px;
		}

		h1 {
			font-size: 3rem;
		}

		h2 {
			font-size: 2rem;
		}

/*PHONE*/
		
		body{
			background-color: #464e47;
		}

		.container{
			margin: 0 auto;
			padding: 0 auto;
		}
	
		.saman{
			width:45px;
			height:45px;
			position:fixed;
			top:0;
			left:0;
			pointer-events: none;
		}

		@keyframes logoanimation{
			/*
			0% {left:0%;top:0%;right:100%;bottom:100%;color:color:#eae8e5;}
			25%{left:100%;top:0%;right:0%;bottom:100%; color:rgb(178,54,54);}
			50%{left:100%;top:100%;right:0%; bottom:0%; color:#eae8e5;}
			75%{left:0%; top:100%; right:100%; bottom:0%; color:rgb(178,54,54);}
			100% {left:0%; color:color:#eae8e5;}
			*/

			0% {left:3%;top:0%;}
			25%{left:100%;top:0%;}
			50%{left:100%;top:100%;}
			75%{left:3%;top:100%;}
			100%{left:3%;top:0%;}
			
		}		

		.homelogo{
			font-family: 'Heebo', sans-serif;
			font-weight: 700;
			color:#eae8e5;
			line-height: 0px;
			position:relative;
			opacity: .75;

			animation-name: logoanimation;
			animation-duration: 4s;
			animation-iteration-count:infinite;
			animation-timing-function: linear;

			-webkit-animation-name: logoanimation;
			-webkit-animation-duration: 4s;
			-webkit-animation-iteration-count:infinite;
			-webkit-animation-timing-function: linear;
			
		}

		.contact{
			font-family: 'Heebo', sans-serif;
			text-transform: uppercase;
			font-weight: 400;
			color:#eae8e5;
			font-size: 1.3rem;
			letter-spacing: .3rem;
			
			position: fixed;
			top:50%;
			left:0;
		}

		.email{
			width:12px;
			left:7%;
			-ms-transform: rotate(90deg);
    		-webkit-transform: rotate(90deg);
   			transform: rotate(90deg);
		}

		.phone{
			width:12px;
			left:18%;
			-ms-transform: rotate(90deg);
    		-webkit-transform: rotate(90deg);
   			transform: rotate(90deg);
		}

		.about{
			width:75%;	
			margin-left:25%;
			margin-top:90px;
		}

		.about p{
			line-height: 2.5rem;
			margin: 0 auto;
			margin-bottom: 10%;
			text-align: left;
		}

		.text{
			font-family: 'Heebo', sans-serif;
			text-transform: uppercase;
			font-weight: 400;
			color:#eae8e5;
			font-size: 1.3rem;
			line-height: 1rem;
			letter-spacing: .3rem;

			/*
			-webkit-text-shadow: 0px 0px 84px -17px rgba(234,232,229,0.77);
			-moz-text-shadow: 0px 0px 84px -17px rgba(234,232,229,0.77);
			text-shadow: 0px 0px 84px -17px rgba(234,232,229,0.77);
			*/	
		}

	/* SAFE BG FG

	#background {
			margin: 0 auto;
			padding-top: 100px;
			height: 100%;
			width: 100%;
			background-image: url('../img/pics/waves.png');
			background-size: 110% 110%;
			background-position: -100px -100px;
		}

		.foreground{
			text-align: center;
			padding: 100px;
		}
	*/


		#background2 {
			margin: 0 auto;
			left:23%;
			top:22%;
			width:75%;
			height:75%;
			position:absolute;
			background-image: url('../img/pics/cows.png');
			background-size: 125% 125%;
			background-position: -100px -100px;
			z-index:-1000;
		}

		.foreground2{
			text-align: center;
			padding: 20px;
		}

	/*
		.mbg{
			width:75%;
			left:25%;
			z-index: -1000;
			position:absolute;
			overflow:hidden;
		}

		.mbg img{
			width:100%;
		}

	*/

		.music{
			margin-left:40%;
			margin-top:10%;
			height:100%;
		}

		.song1{
			padding:3%;
			width: 50%;
			max-width: 150px;
			/*
			background-color: rgba(179, 184, 201, .6);
			*/

			
		}

		.music img{
			margin: 0 auto;
			height: 100%;
			width: 100%;
			opacity: 1;
		}

		.pauser{
			display: none;
		}

		.description{

			font-family: 'Heebo', sans-serif;
			font-weight: 400;
			color:#eae8e5;
			font-size: 1.2rem;
			text-transform: uppercase;
		}

		@keyframes image1animation{
			/*
			0% {left:0%;top:0%;right:100%;bottom:100%;color:color:#eae8e5;}
			25%{left:100%;top:0%;right:0%;bottom:100%; color:rgb(178,54,54);}
			50%{left:100%;top:100%;right:0%; bottom:0%; color:#eae8e5;}
			75%{left:0%; top:100%; right:100%; bottom:0%; color:rgb(178,54,54);}
			100% {left:0%; color:color:#eae8e5;}
			*/

			0% {right:0%;top:20%;opacity: 1}
			25%{right:10%;top:40%;opacity: .7}
			50%{right:70%;top:80%;opacity: .1}
			75%{right:10%;top:40%;opacity: .3}
			100%{right:0%;top:0%;opacity: 1}
			
		}

		.image1{

			max-width: 300px;

			/*
   		   	
   		   	animation-name: image1animation;
			animation-duration: 8s;
			animation-iteration-count:infinite;
			animation-timing-function: linear;

			-webkit-animation-name: image1animation;
			-webkit-animation-duration: 8s;
			-webkit-animation-iteration-count:infinite;
			-webkit-animation-timing-function: linear;
			*/

			position: fixed;
			top:50%;
			right:30%;
			z-index: -1000;
			width:35%;
		}
		

		.image1 img{
			width: 100%;
			height:100%;
			max-height:150px;
		}




/*TABLET*/
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	}

/*DESKTOP*/
	@media only screen  and (min-width : 1224px){

	}

</style>