<style>

	<meta charset="utf-8">


	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: sans-serif;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.clearfix {
		overflow: auto;
	}

	html {
		font-family: sans-serif;
	}

	body{
			
			}

	/*type*/
		html {
			font-size: 12px;
		}

		h1 {
			font-size: 3rem;
		}

		h2 {
			font-size: 2rem;
		}

/*PHONE*/
		
		body{
			background-color: #e9ede6;
		}

		a:link{
			color: #203a2d;
		}

		.container{
			margin: 0;
			padding: 0;
			height:auto;
			width: auto;
		}
	
		.saman{
			margin: 0 auto;
			width:100%;
			height:400px;
			position:fixed;
			top:0;
			left:0;
			z-index:1000;
			pointer-events: none;
		}

		@keyframes logoanimation{
			/*
			0% {left:0%;top:0%;right:100%;bottom:100%;color:color:#203a2d;}
			25%{left:100%;top:0%;right:0%;bottom:100%; color:rgb(178,54,54);}
			50%{left:100%;top:100%;right:0%; bottom:0%; color:#203a2d;}
			75%{left:0%; top:100%; right:100%; bottom:0%; color:rgb(178,54,54);}
			100% {left:0%; color:color:#203a2d;}
			*/

			0% {left:0%;top:0%;}
			25%{left:80%;top:0%;}
			50%{left:80%;top:100%;}
			75%{left:0%;top:100%;}
			100%{left:0%;top:0%;}
			
		}		

		.homelogo{
			font-family: 'Heebo', sans-serif;
			font-weight: 700;
			color:#203a2d;
			line-height: 0px;
			position:relative;
			opacity: .75;

			animation-name: logoanimation;
			animation-duration: 40s;
			animation-iteration-count:infinite;
			animation-timing-function: linear;

			-webkit-animation-name: logoanimation;
			-webkit-animation-duration: 40s;
			-webkit-animation-iteration-count:infinite;
			-webkit-animation-timing-function: linear;
			
		}

		.about{
			margin:0 auto; 			
			width:75%;
		}

		.about p{
			line-height: 2.5rem;
			margin: 0 auto;
			margin-top: 15%;
			margin-bottom: 10%;
			
		}

		.text{
			
			font-family: 'Heebo', sans-serif;
			text-transform: uppercase;
			font-weight: 500;
			color:#203a2d;
			font-size: 1.5rem;
			line-height: 1.3rem;
			
		}

		.music{
			margin:0 auto;
			width:85%;
			padding: 1%;
			outline: .7px dashed #203a2d;
		}

		audio{
			margin:0 auto;
			width:100%;
			
		}

		.afile{
			margin:.5% auto;
			outline: .7px dashed #203a2d;
		}

		.contact{
			margin:0 auto;
			margin-top: 10%;
			padding: 0 auto;
			width: 75%;

		}

		.contact p{
			width:75%;
		}

		.email{
			margin: 0 auto;

		}

		.phone{
			margin: 0 auto;
 			color:#203a2d
		}


/*TABLET*/
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	}

/*DESKTOP*/
	@media only screen  and (min-width : 1224px){

	}

</style>