<style>

	<meta charset="utf-8">


	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: sans-serif;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.clearfix {
		overflow: auto;
	}

	html {
		font-family: sans-serif;
	}

	body{
			
			}

	/*type*/
		html {
			font-size: 12px;
		}

		h1 {
			font-size: 3rem;
		}

		h2 {
			font-size: 2rem;
		}

/*PHONE*/
		
		body{
			background-color: #464e47;
		}

		.container{
			margin: 0 auto;
			padding: 0 auto;
			height: auto;
		}
	
		.saman{
			width:45px;
			height:45px;
			position:fixed;
			top:0;
			left:0;
			pointer-events: none;
		}

		@keyframes logoanimation{
			/*
			0% {left:0%;top:0%;right:100%;bottom:100%;color:color:#e0dd8c;}
			25%{left:100%;top:0%;right:0%;bottom:100%; color:rgb(178,54,54);}
			50%{left:100%;top:100%;right:0%; bottom:0%; color:#e0dd8c;}
			75%{left:0%; top:100%; right:100%; bottom:0%; color:rgb(178,54,54);}
			100% {left:0%; color:color:#e0dd8c;}
			*/

			0% {left:3%;top:0%;}
			25%{left:100%;top:0%;}
			50%{left:100%;top:100%;}
			75%{left:3%;top:100%;}
			100%{left:3%;top:0%;}
			
		}		

		.homelogo{
			font-family: 'Heebo', sans-serif;
			font-weight: 700;
			color:#e0dd8c;
			line-height: 0px;
			position:relative;
			opacity: .75;

			animation-name: logoanimation;
			animation-duration: 4s;
			animation-iteration-count:infinite;
			animation-timing-function: linear;

			-webkit-animation-name: logoanimation;
			-webkit-animation-duration: 4s;
			-webkit-animation-iteration-count:infinite;
			-webkit-animation-timing-function: linear;
			
		}

		.contact{
			font-family: 'Heebo', sans-serif;
			text-transform: uppercase;
			font-weight: 500;
			color:#e0dd8c;
			font-size: 1.4rem;
			line-height: 0rem;
			position:fixed;
		}

		.email{
			width:12px;
			margin-top:15%;
			left:5%;
			-ms-transform: rotate(90deg);
    		-webkit-transform: rotate(90deg);
   			transform: rotate(90deg);
		}

		.phone{
			width:12px;
			margin-top:15%;
			left:15%;
			-ms-transform: rotate(90deg);
    		-webkit-transform: rotate(90deg);
   			transform: rotate(90deg);
		}

		.about{
			margin-left:25%;
			margin-top:25%; 			
			width:75%;
		}

		.about p{
			line-height: 2.5rem;
			margin: 0 auto;
			margin-bottom: 10%;
			
		}

		.text{
			
			font-family: 'Heebo', sans-serif;
			text-transform: uppercase;
			font-weight: 500;
			color:#e0dd8c;
			font-size: 1.5rem;
			line-height: 1.3rem;
			
		}

		.music{
			margin-left:25%;
		}

		.song1{
			padding-top: 3%;
			padding-bottom: 3%;
			background-color: #ffac8f;
			border: .7px solid #e0dd8c;
		}
		.song1 img{
			height: 80px;
			float:left;
			margin-left: 10%;
			text-align: center;
		}

		.pause




/*TABLET*/
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	}

/*DESKTOP*/
	@media only screen  and (min-width : 1224px){

	}

</style>